# =========================================================================
# .gitignore Otimizado para Projeto Node.js/React com Docker e Prisma
# =========================================================================

# Logs e arquivos de depuração
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Variáveis de Ambiente
.env
.env.local
.env.development
.env.production
.env.*.local

# Dependências
# As dependências podem ser reinstaladas a partir dos arquivos package.json.
node_modules/
**/node_modules

# Arquivos de Build e Compilação
# Arquivos gerados pelo processo de build (ex: Vite, TypeScript).
dist
/dist-ssr
build
out
.vite/
.output/

# Relatórios de Testes e Cobertura de Código
coverage/
.nyc_output

# Arquivos gerados pelo Sistema Operacional
# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Arquivos de Configuração de Editores e IDEs
# VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Sublime Text
*.sublime-project
*.sublime-workspace

# --- Ignorar Uploads do Backend ---
# Ignora todos os arquivos dentro da pasta uploads
backend/uploads/*

# MAS não ignora o arquivo .gitkeep (para garantir que a pasta exista)
!backend/uploads/.gitkeep